@model Note

@{
    ViewData["Title"] = "Update Note";
    List<Category> categories = ViewBag.Categories;
}

<form action="/Home/UpdateNote/@Model.Id" autocomplete="off" method="post">
    <label for="exampleInputEmail1" class="form-label">Kategori Türü : </label>
    <select class="form-select" name="CategoryId" aria-label="Default select example">
        <option disabled>Kategoriler</option>
        @foreach (var category in categories)
        {
			if (Model.CategoryId == category.Id)
			{
				<option value="@category.Id" selected>@category.Name</option>
			}
			else
			{
				<option value="@category.Id">@category.Name</option>
			}
          
        }
    </select>
    <div class="mb-3">
        <label for="NotTitle" class="form-label">Not Title</label>
        <input type="text" name="Title" class="form-control" id="NotTitle" aria-describedby="Title" value="@Model.Title">
    </div>
    <div class="mb-3">
        <label for="NotDescription" class="form-label">Not Description</label>
        <input type="text" name="Description" class="form-control" id="NotDescription" aria-describedby="Description" value="@Model.Description">
    </div>
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>